<div class="menu_section">
    <span class="mtitle"><img src="assets/img/menu_ncvoa.jpg" alt="NCVOA Chico" title="NCVOA Chico" /></span>
    <ul id="ncvoa">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">Who We Are</a></li>
    </ul>
</div>
<div class="menu_section">
    <span class="mtitle"><img src="assets/img/menu_docs.jpg" alt="Documents" title="Documents" /></span>
    <ul id="docs">
        <li><a href="docs/2010_constitution.doc">Constitution</a></li>
        <li><a href="downloads/2026_NCVOA_Meeting_Schedule.pdf">2026 Meeting Schedule</a></li>
    </ul>
</div>
<div class="menu_section">
    <span class="mtitle"><img src="assets/img/menu_forms.jpg" alt="Forms" title="Forms" /></span>
    <ul id="forms">
        <li><a href="downloads/2026_NCVOA_Independent_Contractor_Agreement.pdf">Independent Contractor Agreement</a></li>
        <li><a href="downloads/2026_NCVOA_Availabilty_Form.pdf">Availability Form</a></li>
        <li><a href="forms/liberotrackingsheet.pdf">Libero Tracking Sheet</a></li>
        <li><a href="forms/vbscoringsheet.pdf">CIF Scoring Sheet</a></li>
        <li><a href="downloads/NCVOA_Conflict_of_Interest_Form.pdf">Conflict of Interest</a></li>
    </ul>
</div>
<div class="menu_section">
    <span class="mtitle"><img src="assets/img/menu_links.jpg" alt="Links" title="Links" /></span>
    <ul id="links">
        <li><a href="http://www.cifns.org">CIF Northern Section</a></li>
        <li><a href="http://www.cifss.org">CIF Southern Section</a></li>
        <li><a href="http://www.maxpreps.com">Max Preps</a></li>
    </ul>
</div>
